<div id="footer">
	<div class="row">
		<div class="small-12 columns">
		<p>This project is by <a href="http://skinnywhitegirl.com">Crystal Beasley</a> </p>

		
			<p>I <i class="icon-heart"></i> to hear from you: <a href="mailto:crystal@skinnywhitegirl.com"><i class="icon-envelope-alt icon-large"></i></a><a href="https://twitter.com/skinny"><i class="icon-twitter-sign icon-large"></i></a><a href="https://www.linkedin.com/in/crystalbeasley"><i class="icon-linkedin-sign icon-large"></i></a><a href="http://feeds.feedburner.com/PersonAndPlace"><i class="icon-rss icon-large"></i></a></p>
			
		</div>
	</div>
</div> <!-- /footer -->

</body>
</html>
